/* Start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* End global rules */

/* Start Header */
.sticky {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav ul {
  flex-basis: 100%;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}

header nav ul li {
  transition: all 0.4s ease-out;
}

header nav ul li a {
  padding: 8px;
  display: block;
  color: white;
  border-radius: 0.25rem;
  transition: all 0.4s ease-out;
  border: 1px solid transparent;
}

header nav ul li:not(:last-child) a:hover {
  color: #000000;
  background-color: #96ffe8;
  border-radius: 0.25rem;
  border: 1px solid #96ffe8;
}

header nav ul li:last-child a {
  margin-top: 10px;
  color: #000000;
  background-color: #96ffe8;
  border-radius: 0.25rem;
  border: 1px solid #96ffe8;
}

header .container nav button {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  cursor: pointer;
}

header .container nav span {
  background-image: url(images/download.svg);
  display: inline-block;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 1.5rem;
}

header nav ul li:not(:last-child) a:active {
  color: #96ffe8;
}

@media (min-width: 992px) {
  header .container nav button {
    display: none;
  }
  header nav ul {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  header nav ul li:last-child a {
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  header nav ul li a {
    width: min-content;
  }
}

@media (max-width: 991px) {
  header nav ul {
    display: none;
  }
  header nav ul {
    height: 0;
  }
  /* header nav ul li {
    height: 0;
  } */
}

header nav ul.show {
  display: block;
  opacity: 1;
  height: fit-content;
}

/* End Header */

/* Start Landing   */
.landing {
  position: relative;
  overflow: hidden;
}

.landing video {
  width: 100%;
  object-fit: cover;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 15%);
}

.landing .info {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.landing .info .counter {
  display: flex;
  gap: 20px;
  color: white;
}

.landing .info .counter > div {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background: radial-gradient(
    circle,
    rgba(53, 58, 121, 1) 0%,
    rgba(59, 14, 97, 1) 100%
  );
  border-radius: 0.5rem;
}

.landing .info .counter > div span:first-child {
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: block;
  font-size: 2rem;
}

.landing .info img:nth-of-type(2) {
  width: 30%;
}

@media (max-width: 500px) {
  .landing {
    background-color: #0d2846;
    display: flex;
    flex-direction: column;
  }
  .landing video {
    width: 100%;
    object-fit: contain;
    padding-top: 2rem;
  }

  .landing .info {
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(53, 58, 121, 1) 0%,
      rgba(56, 10, 90, 1) 100%
    );
    padding: 50px 0;
  }
  .landing .info img:first-child {
    max-width: 80%;
    margin-top: -120px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .landing video {
    width: auto;
  }
}

/* End Landing   */

/* Start affilation */
.affilation {
  text-align: center;
  padding: 30px 0;
}

.affilation h1 {
  margin-bottom: 50px;
  font-weight: normal;
}

.affilation .affilation-content {
  background: linear-gradient(
    90deg,
    rgba(216, 178, 100, 1) 0%,
    rgba(255, 237, 139, 1) 100%
  );
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 20px;
  border-radius: 20px;
}

.affilation .affilation-content img {
  width: 100%;
}

@media (max-width: 600px) {
  .affilation .affilation-content {
    grid-template-columns: repeat(2, auto);
  }
}
/* End affilation */

/* Start Chariman */
.chariman {
  background-color: #0d2846;
  background-image: url("images/left-side-bg.png");
  background-repeat: no-repeat;
  padding: 5rem 0;
  background-position: left;
}

.chariman .container > h1 {
  font-size: 3.1rem;
  width: 50%;
  color: #fff;
  border-bottom: 3px solid #d8b264;
  border-top: 3px solid #fff;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.chariman .container .char-word {
  display: flex;
  color: white;
  padding: 25px;
  background-color: #fff1c221;
  gap: 20px;
  border-bottom-right-radius: 150px;
  margin-top: 50px;
}

.chariman .container .char-word .left {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.chariman .container .char-word .left h3 {
  font-size: 1.7rem;
}

.chariman .container .char-word .left p {
  line-height: 1.5;
}
.chariman .container .char-word .left img {
  width: 100%;
}

.chariman .container .char-word .right {
  width: 70%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chariman .container .char-word .right h3 {
  font-size: 1.7rem;
  margin-bottom: 16px;
}

.chariman .container .char-word .right p {
  line-height: 2;
}

.chariman .container .char-word .right p:last-child {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .chariman .container .char-word {
    flex-direction: column;
  }
  .chariman .container .char-word .left {
    width: 100%;
  }

  .chariman .container .char-word .right {
    width: 100%;
  }
}
/* End Chariman */

/* Start Committee */
.committee {
  padding: 60px 0;
  background-image: url(images/committee-back.png),
    radial-gradient(circle, rgba(53, 58, 121, 1) 0%, rgba(90, 72, 150, 1) 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

.committee .container > h1 {
  font-size: 3.1rem;
  width: 50%;
  color: #fff;
  border-bottom: 3px solid #d8b264;
  border-top: 3px solid #fff;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.committee .container .content .first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.committee .container .content .first figure {
  width: 20%;
  text-align: center;
  color: white;
}

.committee .container .content .first figure img {
  width: 100%;
}

.committee .container .content .first figure figcaption h4 {
  font-size: 1.3rem;
}

.committee .container .content .first figure figcaption p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 0.85rem;
  opacity: 0.7;
}

.committee .container .content .second {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 22%);
  gap: 40px;
  justify-content: center;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .committee .container .content .second {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
  .committee .container .content .first figure {
    width: 100%;
  }
  .committee .container .content .first figure figcaption h4 {
    font-size: 1rem;
  }
  .committee .container > h1 {
    width: 100%;
    font-size: 2.2rem;
  }
}

.committee .container .content .second figure img {
  width: 100%;
}
/* End Committee */

/* Start our speakers */
.speakers {
  padding: 60px 0;
  background-color: #0d2846;
  margin-top: -1px;
}

.speakers .container > h1 {
  font-size: 3.1rem;
  width: 50%;
  color: #fff;
  border-bottom: 3px solid #d8b264;
  border-top: 3px solid #fff;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.speakers .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22%);
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
  color: white;
}

.speakers .container .content figure .images {
  position: relative;
}

.speakers .container .content figure img:first-of-type {
  width: 100%;
}

.speakers .container .content figure .images img.flag {
  width: 35px;
  position: absolute;
  right: 20%;
  top: 70%;
}

@media (max-width: 600px) {
  .speakers .container .content {
    grid-template-columns: repeat(auto-fill, 45%);
  }
  .speakers .container > h1 {
    width: 100%;
    font-size: 2rem;
  }
}

/* End our speakers */

/* Start scientific */

.scientific {
  padding: 60px 0;
  background-image: url("images/program-back-layer.png"),
    radial-gradient(circle, rgba(53, 58, 121, 1) 0%, rgba(90, 72, 150, 1) 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.scientific .container > h1 {
  font-size: 3.1rem;
  width: 50%;
  color: #fff;
  border-bottom: 3px solid #d8b264;
  border-top: 3px solid #fff;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.scientific ul.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  text-align: center;
}

.scientific ul.buttons li {
  background-color: rgb(255 255 255 / 50%);
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.scientific ul.buttons li h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.scientific ul.buttons li p {
  font-size: 0.85rem;
  color: white;
}

.scientific ul.buttons li.active {
  background-color: #0d2846;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
}

.scientific .container .tab-content .tab-pane {
  margin-top: 40px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.scientific .container .tab-content .tab-pane .all {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #0d28468f;
}

.scientific .container .tab-content .tab-pane .left {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.scientific .container .tab-content .tab-pane .left p {
  background-color: white;
  color: #0d2846;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: 600;
}

.scientific .container .tab-content .tab-pane .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.scientific .container .tab-content .tab-pane .right img {
  width: 90px;
  border-radius: 50%;
  margin-right: 10%;
}

.scientific .container .tab-content .tab-pane .title {
  background-color: #96ffe8;
  text-align: center;
  padding: 20px;
}

.scientific .container .tab-content .tab-pane .title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.scientific .container .tab-content .tab-pane .title p {
  font-size: 1.5rem;
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity 0.15s linear;
}

.scientific .container .tab-content .tab-pane.active {
  display: flex;
}

@media (max-width: 600px) {
  .scientific .container .tab-content .tab-pane .all {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .scientific .container .tab-content .tab-pane .all .right {
    justify-content: flex-start;
  }

  .scientific .container .tab-content .tab-pane .all .left {
    width: 100%;
  }

  .scientific ul.buttons li {
    flex-grow: 1;
  }
}
/* End scientific */

/* Start Sponsors */
.sponsors {
  padding: 60px 0;
  background-color: #0d2846;
  background-image: url("images/sponsor-back.png");
  background-position: left;
  background-repeat: no-repeat;
}

.sponsors .container > h1 {
  font-size: 3.1rem;
  width: 50%;
  color: #fff;
  border-bottom: 3px solid #d8b264;
  border-top: 3px solid #fff;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.sponsors .container .contant > p {
  color: #d8b264;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sponsors .container .contant .diamond,
.sponsors .container .contant .gold,
.sponsors .container .contant .silver {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
  gap: 20px;
}

.sponsors .container .contant .diamond img,
.sponsors .container .contant .gold img,
.sponsors .container .contant .silver img {
  width: 100%;
}

@media (max-width: 767px) {
  .sponsors .container .contant .diamond,
  .sponsors .container .contant .gold,
  .sponsors .container .contant .silver {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    gap: 20px;
  }

  .sponsors .container > h1 {
    width: 100%;
    font-size: 1.5rem;
  }
}
/* End Sponsors */

/* Start footer */

.footer {
  background-color: #000000;
  padding: 20px;
}

.footer .container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
/* End footer */

/* 
.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition-duration: 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateZ(0);
  }
} */
